@model AgentPortal.Models.Agent


<style>
    div {
        display: flex;
        flex-direction: column;
    }

        div input {
            max-width: 500px;
        }

        div label {
            margin-top: 1em;
        }

    button {
        margin-top: 2em;
        background-color: lightblue;
    }
</style>

<h4>Edit Agent</h4>

<form action="/Agent/Edit" method="post">

    <div>
        <label>Agent Code</label>
        <input name="code" value=@Model.Code />

        <label>Agent Name</label>
        <input name="name" value=@Model.Name />

        <label>Working Area</label>
        <input name="workingarea" value=@Model.WorkingArea />

        <label>Commission</label>
        <input name="commission" value=@Model.Commission />

        <label>Phone No</label>
        <input name="phoneno" value=@Model.PhoneNo />
    </div>

    <button class="btn" type="submit">SAVE</button>

</form>